public-hoist-pattern[]=@ai-sdk/*
public-hoist-pattern[]=@cherrystudio/*
auto-install-peers=true
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=electron-winstaller
supportedArchitectures.os[]=darwin
supportedArchitectures.os[]=win32
supportedArchitectures.os[]=linux
supportedArchitectures.cpu[]=x64
supportedArchitectures.cpu[]=arm64
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
onlyBuiltDependencies:
  - electron
  - esbuild
  - core-js
